PORT=5000
DATABASE_URL=postgres://usuario:password@localhost:5432/rentacar_db
WOMPI_PUBLIC_KEY=pub_test_xxxxxxxxxxxxxxxxxxxxxxxx
WOMPI_PRIVATE_KEY=prv_test_xxxxxxxxxxxxxxxxxxxxxxxx
JWT_SECRET=tu_llave_secreta_para_tokens
